# Backend
backend_dsa_sheet/node_modules/
backend_dsa_sheet/.env
backend_dsa_sheet/.env.local
backend_dsa_sheet/.DS_Store

# Frontend logs
frontend_dsa_sheet/logs/
frontend_dsa_sheet/*.log
frontend_dsa_sheet/npm-debug.log*
frontend_dsa_sheet/yarn-debug.log*
frontend_dsa_sheet/yarn-error.log*
frontend_dsa_sheet/pnpm-debug.log*
frontend_dsa_sheet/lerna-debug.log*

# Frontend dependencies/build
frontend_dsa_sheet/node_modules/
frontend_dsa_sheet/dist/
frontend_dsa_sheet/dist-ssr/
frontend_dsa_sheet/*.local